@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #16a34a;
  --color-accent: #f97316;
  
  --color-background: #f3f4f6;
  --color-foreground: #1f2937;
}

/* Glassmorphism utilities */
@utility glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
